.wishlist-container {
  padding-top: 13rem;
  display: flex;
  row-gap: 1rem;
  justify-content: center;
}

.wishlist-card-bottom {
  margin-left: 6rem;
}

.wishlist-empty-container-img {
  height: 45%;
  width: 45%;
}
