.address-modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: flex;
  padding: 3rem 0 2rem 0;
  justify-content: center;
  height: 100em;
  background-color: var(--background-color-three);
}

.address-modal {
  background-color: var(--background-color-one);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  width: fit-content;
  height: 33%;
  margin: 3rem 0 0 0;
  padding: 2rem;
  border-radius: 5px;
  font-weight: var(--standard-font-weight);
  box-shadow: var(--standard-box-shadow);
}

.address-modal input {
  width: 15rem;
  height: 1.3rem;
  border-radius: 4px;
}

.address-modal-btn-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.address-modal-btn {
  padding: 0.5rem;
  border: none;
  font-weight: var(--standard-font-weight);
  border-radius: 4px;
  cursor: pointer;
}

.address-modal-btn:hover {
  text-decoration: underline;
}

.close-address-btn {
  background-color: var(--background-color-three);
}

.edit-address-btn {
  background-color: var(--color-two);
  color: var(--background-color-one);
}
