.shop-now-banner {
  background-color: var(--background-color-three);
  color: var(--background-color-one);
  position: absolute;
  top: 25vw;
  text-decoration: none;
  width: 100%;
  height: 36vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 7rem;
  font-family: sans-serif;
}

.shop-now-banner:hover {
  text-decoration: underline 5px;
}

.landing-page-img {
  padding-top: 3rem;
  width: 100%;
  height: 30vw;
  position: relative;
}

.stacked-list-item {
  display: flex;
  width: 18rem;
  height: fit-content;
  position: relative;
  cursor: pointer;
}

.img-category-container {
  display: flex;
  column-gap: 6rem;
  flex-direction: column;
  justify-content: center;
}

.list-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.shop-category-banner {
  background-color: var(--background-color-two);
  color: var(--background-color-one);
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.category-img {
  width: 18rem;
  height: 24rem;
}

.category-name {
  position: absolute;
  color: var(--background-color-one);
  top: 20rem;
  display: flex;
  justify-content: center;
  font-weight: var(--standard-font-weight);
  font-size: x-large;
  width: 100%;
  padding: 1.2rem 0 0.8rem 0;
  z-index: 3;
  background-color: var(--background-color-three);
}

.category-name:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .shop-category-banner {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .shop-now-banner {
    font-size: 5rem;
  }
}
