.upper-nav {
  background-color: var(--background-color-two);
  color: var(--background-color-one);
  height: 1.5rem;
  display: flex;
  justify-content: flex-end;
  padding: 0.3rem 2rem;
  column-gap: 2rem;
}

.navigation-bar {
  flex-direction: column;
  background-color: var(--background-color-one);
  row-gap: 0.3rem;
  padding-bottom: 1rem;
  border-bottom: dotted 1.5px var(--border-color);
  position: fixed;
  z-index: 4;
}

.log-in:hover,
.sign-up:hover {
  text-decoration: underline;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  column-gap: 10rem;
  align-items: center;
  padding-right: 0.5rem;
}

.search-bar input {
  width: 30rem;
  padding: 0.5rem;
}

.logo {
  height: 4.8rem;
  width: 6rem;
}

.logo-container {
  display: flex;
  margin-left: 1rem;
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--background-color-two);
  text-decoration: line-through var(--background-color-one);
}

.shopping-cart,
.wishlist {
  width: 8rem;
  height: 2rem;
}

.dot {
  border-radius: 50%;
  transform: translate(70px, -45px);
  background-color: var(--color-two);
  color: var(--background-color-one);
  height: 1.3rem;
  width: 1.3rem;
  display: flex;
  justify-content: center;
}

.page-container {
  display: flex;
}

.search-bar {
  display: flex;
  flex-direction: column;
  height: 4rem;
}

.search-products {
  background-color: whitesmoke;
  font-size: 13px;
  line-height: 1.8rem;
  padding-left: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
