@import "https://bricksui.netlify.app/styles/main-style.css";

* {
    --color-two:#1B74E4;
    --click-color:red;
  --background-color-one:white;
  --background-color-two:black;
  --border-color:gainsboro;

}