.address-container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.address-wrapper {
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: center;
  padding-bottom: 2rem;
}

.address-content-container {
  border-radius: 5px;
  width: 16rem;
  padding: 1rem;
  font-weight: 700;
  box-shadow: var(--standard-box-shadow);
}

.delivery-address-content {
  line-height: 1.5;
  cursor: pointer;
}

.delivery-address-content:hover {
  text-decoration: underline;
}

.add-new-address-btn {
  padding: 1rem;
  font-weight: var(--standard-font-weight);
  border: none;
  box-shadow: var(--standard-box-shadow);
  color: var(--color-two);
  cursor: pointer;
  font-size: medium;
  border-radius: 5px;
}

.add-new-address-btn:hover {
  text-decoration: underline;
}

.address-icons-container {
  padding-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.address-icon {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
}

.green-color {
  color: green;
}

.no-address-available {
  font-weight: var(--standard-font-weight);
}
