.footer {
  position: absolute;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  margin-top: 9rem;
  padding: 0.6rem;
  background-color: var(--border-color);
}

li {
  list-style: none;
}

.footer-content {
  width: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.address-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  width: 20%;
  border-left: 1px solid grey;
}

.footer-header {
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 0.4rem;
}

.footer-address-content {
  font-weight: 500;
}
