.profile-container {
  padding-top: 3rem;
}

.profile-content {
  display: flex;
  justify-content: center;
}

.info {
  background-color: var(--color-two);
  padding: 2rem 3rem;
  box-shadow: var(--standard-box-shadow);
  border: none;
  border-radius: 0.4rem;
  color: var(--background-color-one);
  font-size: larger;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.address {
  background-color: var(--background-color-one);
  padding: 2rem 3rem;
  box-shadow: var(--standard-box-shadow);
  border: none;
  border-radius: 0.4rem;
  color: var(--background-color-two);
  font-size: larger;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
