.profile-container {
  padding-top: 10rem;
}

.profile-content {
  display: flex;
  justify-content: center;
}

.info {
  background-color: blue;
  padding: 2rem 3rem;
  box-shadow: var(--standard-box-shadow);
  border: none;
  border-radius: 0.4rem;
  color: white;
  font-size: larger;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.address {
  background-color: white;
  padding: 2rem 3rem;
  box-shadow: var(--standard-box-shadow);
  border: none;
  border-radius: 0.4rem;
  color: black;
  font-size: larger;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
