.signup-container {
  height: 29rem;
}

.name-input {
  width: 8rem;
  border-radius: 5px;
  height: 1.5rem;
}

.input-name-label {
  display: flex;
  column-gap: 1rem;
}

.first-name,
.last-name {
  display: flex;
  flex-direction: column;
  font-weight: var(--standard-font-weight);
}

.option {
  font-weight: var(--standard-font-weight);
}
